/* Estilo geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 100%;
}

.login-box {
    width: 30%; /* Largura da barra de login */
    height: 100%;
    background-color: black;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #000000; /* Borda à direita da caixa de login */
}

.login-box h1 {
    text-align: center;
    margin: 70px;
    font-size: 45px;
}

.input-container {
    margin-bottom: 15px; /* Espaço entre os campos de entrada */
}

label {
    margin-bottom: 5px;
    padding: 5px;
    display: block; /* Garante que o label ocupe uma linha inteira */
}

input[type="text"],
input[type="password"] {
    padding: 10px; /* Aumentando o padding para um visual mais espaçado */
    border: 2px solid #2FA8FF; /* Cor das bordas dos campos de entrada */
    border-radius: 20px; /* Bordas arredondadas */
    color: white; /* Cor do texto dentro dos campos */
    background-color: black; /* Fundo preto para os campos de entrada */
    width: 100%; /* Faz com que os campos tenham uma largura total */
    margin-top: 10px; /* Espaço acima do campo de entrada */
    outline: none; /* Remove o contorno */
    transition: border-color 0.3s ease; /* Transição suave para o foco */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1c7a9c; /* Muda a cor da borda ao focar */
}

button {
    background-color: #2FA8FF; /* Cor do botão */
    border: none;
    border-radius: 50%; /* Bordas totalmente arredondadas para deixar o botão redondo */
    color: white;
    cursor: pointer;
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    text-align: center;
    line-height: 60px; /* Alinhamento vertical do texto */
    transition: background-color 0.3s ease, transform 0.2s; /* Transição suave para o hover */
}

button:hover {
    background-color: #1c7a9c; /* Cor do botão ao passar o mouse */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

.button-container {
    margin-top: 10px; /* Espaço acima do traço */
    text-align: center; /* Centraliza o traço */
}

.image-box {
    flex: 1; /* A imagem ocupa o espaço restante */
    background-image: url('img/loginhistoria2.png'); /* URL da imagem de fundo */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* A imagem é centralizada */
}
